 {{!-- show error   --}}
  <div class="error-container">
        <h1>{{errorTitle}}</h1>
        <p>{{errorMessage}}</p>
        <form action="/loginPage">
            <input type="submit" value="Log In">
        </form>
        <form action="/">
            <input type="submit" value="Go Back">
        </form>
    </div>