    <div class="login-container">
        <h1>Login</h1>
        <form action="/login" method="post">
            <label for="emailAddress">Email address:</label>
            <input type="text" id="emailAddress" name="emailAddress" required>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            
            <input type="submit" id="login" value="Login">
        </form>
        <h1>Create Account</h1>
        <form action="/create-account" method="post">
            <label for="emailAddress">Email address:</label>
            <input type="text" id="emailAddress" name="emailAddress" required>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            
            <input type="submit" id="create-account" value="Create Account">
        </form>
    </div>